[Desktop Entry]
Categories=Application;Utility;
Encoding=UTF-8
Exec=/usr/bin/RCalc
Icon=accessories-calculator
Name=RCalc
Name[zh_CN]=R计算器
Name[zh_TW]=R计算器
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
